html{
    scroll-behavior: smooth;
}
body{
  background-color: #d4d3cf;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.montserrat-font-lg{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}
.montserrat-font-sm{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.title-lg{
    text-align: center;
}
.title-sm{
    font-weight: bolder;
}
.alfa-slab-one-regular{
  font-family: "Alfa Slab One", serif;
  font-weight: 250;
  font-style: normal;
}
.coiny-regular{
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}
.navbar{
  font-size: 17px;
}
.left{
  position: relative;
  bottom: 1960px;
  left: 25px;
  z-index: 5;
}
.right{
  position: relative;
  bottom: 1965px;
  left: 770px;
  z-index: 5;
}